section.visual {display: flex;align-items: center;gap: 50px;height: calc(100vh - 150px);}
section.visual .text-container {flex: 1;display: flex;flex-direction: column;}
section.visual .text__group-1 {display: flex;border-top: 1px solid;border-bottom: 1px solid;overflow: hidden;}
section.visual .text__group-1 .text-1 {padding: 15px 15px 15px 0;font-weight: bold;font-size: 24px;animation: text-1 .5s 1.75s forwards ease-out;opacity: 0;}
@keyframes text-1 {
  from {transform: translateX(-100%);}
  to {opacity: 1;}
}
section.visual .text__group-2 {display: flex;gap: 25px;border-left: 1px solid;padding: 15px;font-weight: bold;font-size: 24px;overflow: hidden;}
section.visual .text__group-2 .text-2:nth-child(1) {animation: text-1 .5s 1.75s forwards ease-out;opacity: 0;}
section.visual .text__group-2 .text-2:nth-child(2) {animation: text-1 .5s 2s forwards ease-out;opacity: 0;}
section.visual .text__group-2 .text-2:nth-child(3) {animation: text-1 .5s 2.25s forwards ease-out;opacity: 0;}
section.visual .text__group-3 {font-family: impact;font-size: 64px;letter-spacing: 1px;overflow: hidden;}
section.visual .text__group-3 .text-3 {animation: text-3 .5s 1.25s forwards ease-out;opacity: 0;}
@keyframes text-3 {
  from {transform: translateY(100%);}
  to {opacity: 1;}
}
section.visual .text__group-3,
section.visual .text__group-4 {padding: 15px 15px 15px 0;border-bottom: 1px solid;}
section.visual .text__group-4 {font-size: 14px;line-height: 18px;overflow: hidden;}
section.visual .text__group-4 .text-4 {animation: text-4 .5s 1.75s forwards ease-out;opacity: 0;}
@keyframes text-4 {
  from {transform: translateY(100%);}
  to {opacity: 1;}
}
section.visual .indicators {display: flex;gap: 10px;}
section.visual .indicator {width: 100px;height: 2.5px;background: #00000026;margin-top: 25px;}
section.visual .indicator:first-child {background: #0253c7;}
section.visual .controls {display: flex;gap: 15px;margin-top: 15px;font-size: 24px;}
section.visual .controls .btn {cursor: pointer;}

section.visual .animation-slide {position: relative;flex: 1;aspect-ratio: 1;}
section.visual .animation-slide > * {position: absolute;}

/* 텍스트 애니메이션이 시작되고 1s delay 후에 애니메이션 동작 */
section.visual .animation-slide .square-1 {top: 50px;left: 0;width: 250px;aspect-ratio: 1;background: #0253c7;animation: square-1 .5s .25s forwards, square-1-2 5s 2.25s ease-in-out infinite;opacity: 0;}
@keyframes square-1 {
  from {transform: translateX(-50%);}
  to {opacity: 1;}
}
@keyframes square-1-2 {
  from, to {transform: translate(0, 0);}
  50% {transform: translate(-5%, -5%);}
}

section.visual .animation-slide .square-2 {bottom: 65px;left: 0;width: 500px;height: 150px;background: #0253c7;animation: square-2 .5s .5s forwards;opacity: 0;}
@keyframes square-2 {
  from {transform: translateY(50%);}
  to {opacity: 1;}
}

section.visual .animation-slide .square-3 {top: 125px;left: 100px;width: 400px;height: 25px;background: #000;animation: square-3 .5s .5s forwards;opacity: 0;}
@keyframes square-3 {
  from {transform: translateX(50%);}
  to {opacity: 1;}
}

section.visual .animation-slide .square-4 {bottom: 215px;left: 250px;width: 250px;height: 85px;background: #000;animation: square-4 .5s .5s forwards;opacity: 0;}
@keyframes square-4 {
  from {transform: translateY(-50%);}
  to {opacity: 1;}
}
section.visual .animation-slide .square-4::after {content: '';position: absolute;bottom: 25px;width: 100%;height: 1px;background: #fff;}

section.visual .animation-slide .circle-1 {top: 0;right: 25px;width: 140px;aspect-ratio: 1;background: #ffc200;border-radius: 50%;opacity: 0;animation: circle-1 .5s 1s forwards, circle-1-2 5s 2.25s ease-in-out infinite;}
@keyframes circle-1 {
  from {transform: translateY(50%);}
  to {opacity: 1;}
}
@keyframes circle-1-2 {
  from, to {}
  50% {transform: translateY(25%);}
}
section.visual .animation-slide .circle-2 {bottom: 0;left: 0;width: 50px;aspect-ratio: 1;background: #0253c7;border-radius: 50%;opacity: 0;animation: circle-2 .5s .5s forwards, circle-2-2 2s 2.25s ease-in-out infinite;}
@keyframes circle-2 {
  from {transform: translateX(-50%);}
  to {opacity: 1;}
}
@keyframes circle-2-2 {
  from, to {}
  25% {transform: translateX(0);}
  50%, 75% {transform: translateX(50%);}
}

section.visual .animation-slide .dots-1 {left: 140px;top: 80px;display: grid;grid-template-columns: repeat(10, 5px);gap: 5px;opacity: 0;animation: dots-1 .5s .75s forwards;}
@keyframes dots-1 {
  from {transform: translateY(-50%);}
  to {opacity: 1;}
}
section.visual .animation-slide .dots-1 .dot {width: 5px;height: 5px;background: #000;border-radius: 50%;}

section.visual .animation-slide .dots-2 {left: 500px;bottom: 0;display: grid;grid-template-columns: repeat(4, 15px);gap: 15px;opacity: 0;animation: dots-2 .5s .75s forwards;}
@keyframes dots-2 {
  from {transform: translateY(50%);}
  to {opacity: 1;}
}
section.visual .animation-slide .dots-2 .dot {width: 15px;height: 15px;background: #000;border-radius: 50%;}

section.visual .animation-slide .lines-1 {bottom: 125px;left: 50px;display: flex;gap: 7px;animation: lines-1 .5s .75s forwards, lines-1-2 2.5s 2.25s ease-in-out infinite;opacity: 0;z-index: 1;transform-origin: top;}
@keyframes lines-1 {
  from {transform: scaleY(0) translateY(-50%);}
  to {opacity: 1;}
}
@keyframes lines-1-2 {
  from, to {}
  25% {transform: scaleY(100%);}
  50%, 75% {transform: scaleY(80%);}
}
section.visual .animation-slide .lines-1::before {content: '';position: absolute;bottom: 0;width: 100%;height: 100px;background: #fff;}
section.visual .animation-slide .lines-1 .line {width: 7px;height: 325px;background: #000;z-index: 1;}

section.visual .animation-slide .lines-2 {bottom: 65px;right: 25px;display: flex;flex-direction: column;gap: 3px;animation: lines-2 .5s .5s forwards, lines-2-2 2.25s 2.25s ease-in-out infinite;opacity: 0;transform-origin: left;}
@keyframes lines-2 {
  from {transform: translateX(50%);}
  to {opacity: 1;}
}
@keyframes lines-2-2 {
  from, to {}
  25% {transform: scaleY(100%);}
  50%, 75% {transform: scaleX(90%);}
}
section.visual .animation-slide .lines-2 .line {width: 360px;height: 5px;background: #000;}

section.visual .animation-slide .lines-3 {bottom: 200px;right: 0;display: flex;flex-direction: column;gap: 5px;animation: lines-3 .5s .25s forwards, lines-3-2 5s 2.25s ease-in-out infinite;opacity: 0;}
@keyframes lines-3 {
  from {transform: translateX(50%);}
  to {opacity: 1;}
}
@keyframes lines-3-2 {
  from, to {}
  50% {transform: translateX(90%);}
}
section.visual .animation-slide .lines-3 .line {width: 25px;height: 3px;background: #000;}

section.visual .animation-slide .lines-4 {bottom: 300px;left: 502px;display: flex;gap: 2.5px;animation: lines-4 .5s .75s forwards;opacity: 0;}
@keyframes lines-4 {
  from {transform: translateX(-50%);}
  to {opacity: 1;}
}
section.visual .animation-slide .lines-4 .line {width: 2px;height: 75px;background: #000;}

section.visual .animation-slide .img  {top: 150px;left: 150px;width: 350px;height: 225px;animation: img .5s forwards;}
@keyframes img {
  from {transform: translateY(50%);opacity: 0;}
  to {opacity: 1;}
}
section.visual .animation-slide .img img {width: 100%;height: 100%;filter: brightness(100%);object-fit: cover;}
section.visual .animation-slide .img .number {position: absolute;bottom: 15px;left: 15px;font-size: 64px;font-family: impact;letter-spacing: 2px;color: #ffffff99;}

section.visual .overlay {top: 190px;right: 200px;width: 60px;height: 160px;background: #0253c7;mix-blend-mode: multiply;}

section.notice {padding: 50px 0;}
section.notice .notice__container {padding: 0 50px;}
section.notice .item__title {display: flex;align-items: center;gap: 5px;height: fit-content;line-height: 18px;}
section.notice .item__title::before {content: '';display: block;width: 7.5px;height: 36px;background: #ffc200;}
section.notice .notice__container {display: grid;grid-template-columns: 1fr 1fr;gap: 50px;}
section.notice .item {display: flex;gap: 25px;height: 440px;}
section.notice .item-info {position: relative;}
section.notice .item-info > * {position: absolute;}
section.notice .item .square-1 {top: 10px;left: 0;background: #0253c7;mix-blend-mode: hard-light;width: 150px;height: 200px;}
section.notice .item .dots-1 {left: 0;top: 220px;display: grid;grid-template-columns: repeat(10, 5px);gap: 5px;}
section.notice .item .dots-1 .dot {width: 5px;height: 5px;background: #000;border-radius: 50%;}
section.notice .item img {left: 25px;top: 35px;width: 300px;height: 350px;object-fit: cover;}
section.notice .item .circle-1 {left: 260px;top: 340px;width: 100px;height: 100px;background: #ffc200;border-radius: 50%;}
section.notice .item .square-2 {top: 410px;left: 25px;width: 270px;height: 25px;background: #000;}
section.notice .item .item-info__group-1 {left: 10px;top: 20px;display: flex;flex-direction: column;gap: 10px;opacity: 0;transition: .25s;}
section.notice .item .item-info__group-1 .text {white-space: nowrap;color: #fff;line-height: 22px;font-size: 14px;}
section.notice .item .lines-1 {top: 250px;left: 350px;display: flex;flex-direction: column;gap: 7px;}
section.notice .item .lines-1 .line {width: 20px;height: 3px;background: #000;}
section.notice .item-info:hover .item-info__group-1 {opacity: 1;}
section.notice .more-btn {padding: 5px 15px;background: #fff;width: fit-content;border-radius: 25px;cursor: pointer;font-size: 14px;font-weight: 500;}
section.notice .item table {height: 200px;border-collapse: collapse;margin: auto 0;}
section.notice .item table th,
section.notice .item table td {padding: 10px 20px;text-align: center;font-size: 14px;}
section.notice .item table th {border-bottom: 1px solid;}
section.notice .item table th:first-child,
section.notice .item table td:first-child {border-right: 1px solid;}

section.guide {padding: 50px 0;}
section.guide .guide__group-1 {display: flex;gap: 50px;height: 600px;}
section.guide .calendar-container {display: flex;width: 60%;height: 100%;border-radius: 10px;box-shadow: 0 0 10px #00000026;overflow: hidden;}
section.guide .tab-content {width: 40%;height: 100%;border-radius: 10px;box-shadow: 0 0 10px #00000026;}
section.guide .side-content {display: flex;flex-direction: column;align-items: center;width: 250px;height: 100%;background: #0253c7;color: #fff;padding: 15px 20px;}
section.guide .side-content .side-content__top {width: 100%;font-size: 24px;margin-bottom: 40px;}
section.guide .side-content .date-info {text-align: center;}
section.guide .side-content .date-info .month {font-size: 120px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: bold;line-height: 90%;}
section.guide .side-content .date-info .week {font-size: 24px;}
section.guide .side-content .event-info {margin-top: 75px;}
section.guide .side-content .bar {width: 100%;height: 1px;background: #fff;margin-top: 180px;}
section.guide .calendar {display: flex;flex-direction: column;gap: 25px;width: 100%;height: 100%;padding: 25px;}
section.guide .calendar-top {display: flex;flex-direction: column;align-items: end;width: 100%;}
section.guide .calendar-top .year {font-weight: bold;color: #00000099;font-size: 22px;}
section.guide .calendar-top__group-1 {display: flex;align-items: end;gap: 10px;color: #0253c7;}
section.guide .calendar-top__group-1 .month-string {font-weight: bold;}
section.guide .calendar-top__group-1 .separate {font-size: 24px;}
section.guide .calendar-top__group-1 .month {font-size: 48px;font-weight: bold;line-height: 48px;}
section.guide .calendar-body {display: flex;flex-direction: column;gap: 30px;}
section.guide .calendar-body .thead {display: grid;grid-template-columns: repeat(7, 1fr);font-weight: bold;font-size: 22px;text-align: center;}
section.guide .calendar-body .tbody {display: grid;grid-template-columns: repeat(7, 1fr);gap: 40px 0;text-align: center;font-size: 20px;color: #00000099;}
section.guide .calendar-body .day-container {display: flex;flex-direction: column;gap: 10px;}
section.guide .calendar-body .day-container .schedules {display: flex;justify-content: center;height: 0;display: flex;gap: 5px;}
section.guide .calendar-body .day-container .schedule {width: 7px;height: 7px;background: red;border-radius: 50%;}
section.guide .calendar-body .day-container .schedule:first-child {background: #0253c7;}
section.guide .calendar-body .day-container .schedule:last-child {background: #ffc200;}

section.editor {padding: 50px 0;}

section.promotion {padding: 50px 0;}
section.promotion .video-container video {width: 100%;}